<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>VaulType needs microphone access to capture speech for transcription. All audio is processed locally on your device.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 VaulType. All rights reserved.</string>
	<key>NSAccessibilityUsageDescription</key>
	<string>VaulType needs accessibility access to type transcribed text into other applications and manage windows via voice commands.</string>
	<key>SUFeedURL</key>
	<string>https://vaultype.github.io/VaulType/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>y8EmCLgANDXNmgrjUNNVlmKo0hH3X/g6OBaf3Pa/N/g=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>14400</integer>
</dict>
</plist>
